$breakpoints: (
  "xs-phone": 320px,
  "phone": 480px,
  "tablet": 768px,
  "desktop": 1024px,
  "widescreen": 1200px,
);

$media-expressions: (
  "screen": "screen",
  "print": "print",
  "handheld": "handheld",
  "landscape": "(orientation: landscape)",
  "portrait": "(orientation: portrait)",
  "retina2x":
    "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)",
  "retina3x":
    "(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi), (min-resolution: 3dppx)",
);

* {
  box-sizing: border-box;
}

body {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 14px;
  line-height: 1.77;
  background-color: #f2f1ef;
  color: $black;
  margin: 0;

  @include media(">=desktop") {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h2 {
  font-size: 34px;
  line-height: 1.2;

  @include media(">=tablet") {
    font-size: 46px;
  }

  @include media(">=desktop") {
    font-size: 56px;
  }
}

h3 {
  font-size: 30px;
  line-height: 1.24;

  @include media(">=tablet") {
    font-size: 40px;
  }

  @include media(">=desktop") {
    font-size: 45px;
  }
}

h4 {
  font-size: 25px;
  line-height: 1.29;

  @include media(">=tablet") {
    font-size: 31px;
  }
}

h5 {
  font-size: 18px;
  line-height: 1.24;

  @include media(">=tablet") {
    font-size: 23px;
  }
}

h6 {
  font-size: 10px;
  line-height: 1.33;

  @include media(">=tablet") {
    font-size: 12px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.badge {
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  min-height: 30px;
  background-color: $primary-color;
  color: white;
  line-height: 1;
  text-align: center;
  padding: 5px 12px;
  margin-bottom: 15px;

  @include media(">=tablet") {
    min-height: 40px;
  }
}

.container {
  width: 100%;
  max-width: 1090px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-lg {
  max-width: 1310px;
}

.section {
  padding: 20px 0;

  @include media(">=tablet") {
    padding: 50px 0;
  }
}

.title-box {
  text-align: center;
  margin-bottom: 20px;

  @include media(">=tablet") {
    margin-bottom: 55px;
  }

  h3 {
    margin: 14px 0 9px;
  }
}

.bg-color-black {
  background-color: $black;
}

.color-white {
  color: white;
}

.row-reverse {
  flex-direction: row-reverse;
}

#header {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 10px 0;

  .container-lg {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    max-width: 100px;

    @include media(">=phone") {
      max-width: 200px;
    }

    @include media(">=tablet") {
      max-width: 100%;
    }
  }

  .btn {
    font-size: 14px;
    margin-right: 45px;
    height: 34px;
    border: 1px solid #161513;
    padding: 8px 20px;

    @include media(">=tablet") {
      font-size: 16px;
      height: 42px;
      border: 1px solid $black;
      padding: 6px 31px;
      margin: 0;
    }
  }
}

#wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 22px;

  &:after {
    @include animate(opacity z-index background);
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: transparent;
  }

  @include media(">=tablet") {
    &:after {
      display: none;
    }
  }
}

.nav-active {
  overflow: hidden;

  #wrapper {
    &:after {
      opacity: 1;
      z-index: 1;
      background-color: rgba(51, 51, 51, 0.7);
    }
  }

  .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    left: 0;
    z-index: 5;
    padding: 30px 15px;

    @include media(">=tablet") {
      visibility: hidden;
      padding: 0;
    }
  }

  .nav-opener {
    span {
      opacity: 0;
      background-color: #000;
    }

    &:before,
    &:after {
      transform: rotate(-45deg);
      top: 50%;
      left: 0;
      right: 0;
      background-color: #000;

      @include media(">=350px") {
        background-color: #fff;
      }
    }

    &:before {
      transform: rotate(45deg);
      background-color: #000;

      @include media(">=350px") {
        background-color: #fff;
      }
    }
  }
}

.main-nav {
  @include animate(visibility right left);
  position: fixed;
  width: 100%;
  top: 0;
  left: -250px;
  bottom: 0;
  background-color: #f2f1ef;
  height: 100vh;
  overflow-y: auto;
  visibility: hidden;

  @include media(">=350px") {
    width: 250px;
  }

  @include media(">=tablet") {
    padding-top: 3px;
    width: 252px;
    position: static;
    height: auto;
    visibility: visible;
    overflow: visible;
    background-color: transparent;
  }

  .navbar-nav {
    @extend %list-reset;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    padding: 0;

    @include media(">=tablet") {
      height: auto;
      flex-direction: row;
    }

    > li {
      @extend %list-reset;
      margin-bottom: 15px;

      @include media(">=tablet") {
        margin: 0 17px;
      }
    }

    a {
      @extend %underline;
      color: $black;
      transition: color 0.2s ease-in-out;
      text-decoration: none;
      font-size: 19px;

      @include media(">=tablet") {
        font-size: 16px;
        padding-bottom: 4px;
      }

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.nav-opener {
  display: block;
  width: 30px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  text-indent: -9999px;
  z-index: 5;

  @include media(">=tablet") {
    display: none;
  }

  &:after,
  &:before,
  span {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 3px;
    background: #000;
    transition: all 0.3s;
  }

  &:before {
    top: 0;
  }
  span {
    top: 50%;
  }
  &:after {
    top: 100%;
  }
}

.resize-active {
  .navbar-nav,
  .main-nav {
    transition: none;
  }
}

.marked-list {
  @extend %list-reset;
  display: flex;
  flex-wrap: wrap;
  font-size: 17px;
  margin: 0 -10px 20px;

  @include media(">=tablet") {
    font-size: 23px;
    margin: 0 -25px 33px;
  }

  > li {
    position: relative;
    padding: 0 10px;

    @include media(">=tablet") {
      padding: 0 25px;
    }

    &::after {
      position: absolute;
      content: url(../icons/verySmallStar.svg);
      margin-left: 18px;

      @include media("<tablet") {
        content: "";
      }
    }

    &:last-child:after {
      content: "";
    }

    a {
      @include animate(opacity z-index color);
      @extend %underline;
      color: $black;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.promo {
  @include media("<tablet") {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;

    @include media(">=widescreen") {
      align-items: center;
    }
  }

  .marked-list {
    margin-bottom: 32px;
    justify-content: center;

    @include media(">=tablet") {
      justify-content: start;
    }
  }

  h2 {
    text-transform: uppercase;
    margin: 0 0 32px;

    img {
      display: none;

      @include media(">=widescreen") {
        display: inline;
      }
    }
  }

  &-descr {
    width: 100%;
    padding: 0 15px;

    @include media(">=tablet") {
      width: 55%;
    }
  }

  .box-img {
    width: 100%;
    padding: 0 15px;

    @include media(">=tablet") {
      width: 45%;
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    @include media(">=tablet") {
      justify-content: start;
      margin-bottom: 0;
    }
  }
}

.skills {
  @extend %list-reset;
  display: none;
  color: white;

  @include media(">=tablet") {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-5deg);
    background-color: $black;
    font-size: 14px;
    margin: 26px -20px;
    padding: 16px 0;

    @include media(">=desktop") {
      margin: 46px -30px;
    }

    @include media(">=widescreen") {
      margin: 56px -50px 83px;
    }
  }

  @include media(">=desktop") {
    font-size: 16px;
  }

  @include media(">=widescreen") {
    font-size: 18px;
  }

  > li {
    @extend .ellipsis;
    position: relative;

    @include media(">=tablet") {
      padding: 0 20px;
    }

    @include media(">=desktop") {
      padding: 0 30px;
    }

    @include media(">=widescreen") {
      padding: 0 50px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      right: 0;
      width: 15px;
      height: 15px;
      background: url(../icons/verySmallStar.svg);
      background-size: cover;
      background-position: center;

      @include media(">=desktop") {
        width: 20px;
        height: 20px;
        right: 0;
      }

      @include media(">=widescreen") {
        right: 13px;
      }
    }

    a {
      @include animate(opacity z-index color);
      @extend %underline;
      color: white;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.bio {
  min-height: 400px;
  padding: 20px 0;
  display: flex;
  align-items: flex-end;

  @include media(">=tablet") {
    min-height: 779px;
    padding: 0 0 73px;
  }

  .marked-list {
    margin: 0 -10px 10px;

    @include media(">=tablet") {
      margin: 0 -25px 17px;
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 30px;

    @include media(">=tablet") {
      flex-wrap: nowrap;
      margin: 0 -15px 83px;
    }
  }

  .left,
  .right {
    padding: 0 15px;
  }

  .left {
    width: 100%;

    @include media(">=tablet") {
      width: 42%;

      > li {
        display: block;
        height: auto;
        border: 2px solid $black;
        padding: 10px;
        margin: 20px 0;

        @include media(">=tablet") {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 19px;
          margin: 23px 0;
        }

        .col {
          display: flex;
          flex-wrap: wrap;
          text-align: center;
          padding: 12px 0;
          margin: 10px 15px;

          @include media(">=tablet") {
            text-align: left;
            align-items: center;
            margin-bottom: 0;
          }
        }

        .left {
          width: 70%;
        }

        .right {
          display: flex;
          justify-content: flex-end;
          width: 205px;
        }
      }
    }
  }

  .right {
    width: 100%;

    @include media(">=tablet") {
      width: 60%;
    }
  }

  h2 {
    margin: 0 0 10px;
    line-height: 1.15;

    @include media(">=tablet") {
      margin: 0 0 21px;
    }
  }

  p {
    margin-bottom: 17px;
  }

  h4 {
    margin: 0 0 20px;

    @include media(">=tablet") {
      margin: 0 0 39px;
    }
  }

  h6 {
    margin: 9px 0;
  }

  .designer-list {
    @extend %list-reset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;

    @include media(">=tablet") {
      text-align: left;
    }

    > li {
      padding: 0 15px;
      margin-bottom: 10px;

      @include media(">=tablet") {
        margin-bottom: 0;
      }
    }

    h6 {
      color: $primary-color;
      margin-bottom: 5px;

      @include media(">=tablet") {
        margin-bottom: 7px;
      }
    }

    span {
      font-size: 17px;

      @include media(">=tablet") {
        font-size: 23px;
      }
    }
  }
}

.status {
  @extend %list-reset;
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  margin: 0 auto;

  @include media(">=tablet") {
    max-width: 100%;
    justify-content: center;
    padding: 29px 0 24px;
  }

  > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 120px;
    text-align: center;
    padding: 15px;
    border: 1px solid $black;

    @include media(">=tablet") {
      width: 33.33%;
      min-height: 155px;
    }
  }

  .black {
    background-color: $black;
    color: white;
  }

  .title,
  .description {
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 0;
  }

  .title {
    font-size: 40px;
    line-height: 1.03;
    margin-bottom: 17px;

    @include media(">=tablet") {
      font-size: 56px;
    }
  }

  .description {
    display: inline-block;
    font-size: 16px;
  }
}

.awards {
  padding: 20px 0;

  @include media(">=tablet") {
    padding: 25px 0 48px;
  }

  .title-box {
    @include media(">=tablet") {
      margin-bottom: 61px;
    }
  }

  .awards-list {
    @extend %list-reset;

    > li {
      display: block;
      height: auto;
      border: 2px solid $black;
      margin: 20px 0;

      @include media(">=tablet") {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 15px;
        margin: 24px 0;
      }

      .marker {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 40px;
        height: 40px;
        color: #fff;
        background-color: $primary-color;
        text-align: center;
        margin: 0 15px 10px 0;

        @include media(">=tablet") {
          display: flex;
          min-width: 49px;
          height: 49px;
          margin: 0 23px 5px 0;
        }
      }

      .col {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 5px 0;
        margin: 5px 17px;

        @include media(">=tablet") {
          justify-content: start;
          align-items: center;
          margin-bottom: 0;
        }
      }

      .left {
        width: auto;

        @include media(">=tablet") {
          width: 70%;
        }
      }

      .right {
        display: flex;
        justify-content: center;

        @include media(">=tablet") {
          justify-content: flex-end;
          width: 205px;
        }
      }
    }
  }

  h5 {
    margin: 0;
  }

  p {
    margin: 0;
  }

  .for-what {
    margin-right: 8px;

    @include media(">=tablet") {
      font-size: 16px;
      margin-right: 17px;
    }
  }

  .year {
    font-size: 13px;

    @include media(">=tablet") {
      font-size: 16px;
    }
  }
}

.portfolio {
  padding: 20px 0;

  @include media(">=tablet") {
    padding: 50px 0 55px;
  }

  h3 {
    margin: 14px 0 16px;
  }

  .title-box {
    @include media(">=tablet") {
      margin-bottom: 59px;
    }
  }

  &-list {
    @extend %list-reset;
    margin: 0 auto;

    @include media(">=phone") {
      max-width: 500px;
    }

    @include media(">=tablet") {
      max-width: 100%;
    }

    > li {
      display: block;
      // padding: 10px;
      // margin: 20px -21px;

      @include media(">=tablet") {
        display: flex;
        border: none;
        padding: 0;
        margin: 0 -21px 94px;
      }

      &:last-child {
        @include media(">=tablet") {
          margin: 0 -21px 0;
        }
      }

      .embed-responsive,
      .descr {
        @include media(">=tablet") {
          margin: 0 21px;
        }
      }

      .embed-responsive {
        @include media(">=tablet") {
          max-width: 460px;
          padding-bottom: 28%;
        }
      }

      .descr {
        padding: 15px 0;

        @include media(">=tablet") {
          padding: 22px 0;
        }

        h2,
        h3,
        h4 {
          margin-bottom: 25px;

          @include media(">=tablet") {
            margin-bottom: 50px;
          }
        }
      }

      .left-text {
        max-width: 556px;
      }

      a {
        @extend %underline;
        color: black;
        text-decoration: none;
        font-size: 16px;

        @include media(">=tablet") {
          font-size: 20px;
        }
      }
    }
  }
}

.services {
  padding: 20px 0;

  @include media(">=tablet") {
    padding: 60px 0;
  }

  .title-box {
    @include media(">=tablet") {
      margin-bottom: 35px;
    }

    h3 {
      margin: 13px 0 18px;
    }
  }

  &-list {
    @extend %list-reset;
    display: flex;
    flex-wrap: wrap;

    @include media(">=tablet") {
      margin: 0 -15px;
    }

    > li {
      width: 100%;
      padding: 10px 0;

      @include media(">=phone") {
        padding: 10px 10px;
      }

      @include media(">=tablet") {
        width: 50%;
        padding: 15px 20px 5px;
        margin: 10px 0;
      }

      .wrapper {
        padding: 10px 20px;
        border: 2px solid $black;

        @include media(">=tablet") {
          padding: 33px 33px 10px;
        }
      }

      h4 {
        margin: 0 0 27px;
      }
    }
  }
}

.custumers {
  padding: 20px 0;

  @include media(">=tablet") {
    padding: 86px 0 74px;
  }

  .title-box {
    @include media(">=tablet") {
      margin-bottom: 60px;
    }
  }

  &-wrapper {
    @extend %list-reset;
    display: flex;
    flex-wrap: wrap;

    @include media(">=tablet") {
      display: grid;
      grid-column-gap: 32px;
      grid-row-gap: 32px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: auto auto;
    }

    > li {
      @include animate(background-color);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 98px;
      text-align: center;
      border: 1px solid $black;
      padding: 20px 0;
      margin: 10px 0;

      @include media(">=tablet") {
        margin: 0;
      }

      &:hover {
        background-color: $primary-color;
      }
    }
  }
}

.articles {
  position: relative;
  margin-bottom: 30px;

  @include media(">=desktop") {
    margin-bottom: 52px;
  }

  .title-box {
    @include media(">=tablet") {
      margin-bottom: 94px;
    }

    h3 {
      margin: 13px 0 25px;
    }
  }

  .articles-wrapper {
    @extend %list-reset;

    .descr {
      display: flex;
      flex-wrap: wrap;
      border: 2px solid $black;
      padding: 0 10px;
      margin-bottom: 15px;

      @include media(">=tablet") {
        text-align: left;
        align-items: center;
        padding: 0 17px;
        margin-bottom: 100px;
      }

      p {
        font-size: 16px;
        width: 100%;
        padding: 0 10px;
        margin: 10px 0;

        @include media(">=tablet") {
          width: 50%;
          line-height: 1.5;
          margin: 6px 0;
        }
      }

      h5 {
        margin: 0;
        line-height: 1.39;
      }
    }

    .date {
      font-size: 16px;
      text-transform: uppercase;
      color: $primary-color;
    }

    .news {
      width: 100%;
      padding: 0 15px;
      margin: 10px 0 8px;

      @include media(">=tablet") {
        width: 50%;
        margin-bottom: 8px;
      }
    }
  }

  .btn {
    font-size: 15px;
    text-transform: capitalize;
    height: 40px;
    width: 100%;
    padding: 5px 10px;

    @include media(">=tablet") {
      font-size: 20px;
      height: 58px;
      padding: 10px 15px;
    }
  }
  .big-star {
    display: none;

    @include media(">=tablet") {
      position: absolute;
      bottom: 129px;
      right: 0;
    }

    @include media(">=widescreen") {
      display: block;
    }
  }
}

.subcribe {
  display: flex;
  background-color: #e6e3de;
  padding: 20px 0;

  @include media(">=tablet") {
    padding: 60px 0;
  }

  .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    @include media(">=tablet") {
      justify-content: space-between;
      align-items: center;
    }
  }

  .descr {
    font-size: 16px;
    margin-bottom: 10px;

    @include media(">=tablet") {
      font-size: 23px;
      margin: 0 15px 0 0;
    }
  }

  .mail-form {
    display: flex;
    width: 518px;

    input {
      min-height: 35px;
      width: 100%;
      border: 2px solid $black;
      font-size: 18px;
      background-color: transparent;
      margin-right: 10px;

      @include media(">=tablet") {
        height: 56px;
        padding: 0 20px;
        margin-right: 24px;
        font-size: 22px;
      }

      &::placeholder {
        color: $black;
        font-size: 15px;

        @include media(">=tablet") {
          font-size: 23px;
          line-height: 23px;
        }
      }
    }

    .btn {
      width: 100px;
      height: 35px;

      @include media(">=tablet") {
        width: 140px;
        height: 56px;
        font-size: 23px;
      }
    }
  }
}

#footer {
  display: flex;
  align-items: center;
  background-color: $black;
  padding: 20px 0 15px;

  @include media(">=tablet") {
    padding: 66px 0 11px;
  }

  .container {
    text-align: center;

    @include media(">=tablet") {
      text-align: left;
    }
  }

  .top-wrapper {
    display: block;
    margin-bottom: 15px;

    @include media(">=tablet") {
      display: flex;
      justify-content: space-between;
      margin-bottom: 46px;
    }

    .footer-list {
      @extend %list-reset;
      justify-content: center;

      @include media(">=tablet") {
        display: flex;
        align-items: center;
      }

      > li {
        margin: 15px 0;

        @include media(">=tablet") {
          margin: 0 26px;
        }

        a {
          @include animate(color);
          @extend %underline;
          font-size: 16px;
          color: #ffffff;
          text-decoration: none;

          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }

  .bottom-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include media(">=tablet") {
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .copyright {
      display: inline-block;
      font-size: 12px;
      color: #f2f1ef;
      margin-bottom: 15px;

      @include media(">=tablet") {
        font-size: 14px;
      }
    }

    .social-list {
      @extend %list-reset;
      display: flex;
      margin: 0 -8px 15px;

      > li {
        @include animate(border padding);
        height: 30px;
        width: 30px;
        border: 1px solid #969186;
        border-radius: 50px;
        text-align: center;
        padding: 4px;
        margin: 0 8px;

        @include media(">=tablet") {
          height: 40px;
          width: 40px;
        }

        &:hover {
          border: 1px solid $primary-color;
          padding: 2px;
        }
      }
    }
  }
}
